// Navbar styles

@import "variables";

// Styles for navbar
.navbar-brand {
    height: 80px;
}

// .navbar-nav>li>a {
//     padding-top: 30px;
//     padding-bottom: 30px;
// }

.navbar-wrapper {
    @media screen and (max-width: 1200px) {
        clear: both !important;
    }

    @media screen and (max-width: 768px) {
        
    }
}

.navbar-nav {
    margin-left: 100px !important;
    margin-top: 20px;

    @media screen and (max-width: 980px) {
        margin-left: 0px!important; 
    }
}

.welcome-name {
    margin-top: 0px;
}

.navbar-right {
    @media screen and (max-width: 1200px) {
        margin-bottom: 20px;
    }
}

.btn-link {
    margin-right: 130px;
    text-decoration: none !important;
    color: $iconnect-blue !important;
    font-size: 1.15em !important;
}

.logout {
    color: white !important;
    padding: 10px !important;
    margin: 0px 10px !important;
    &:hover {
        color: $iconnect-red !important;
    }

    @media screen and (max-width: 768px) {
        width: 100px;
        float: left;
    }
}

.dropdown-toggle {
    padding: 0px 10px !important;
    margin: 10px !important;

}

    
.dropdown {
    @media screen and (max-width: 768px) {
        width: 140px;
        float: left;
    }
}
