/*Responsive*/
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-content div > a{
    font-size: 18px;
    padding: 3px 30px;
  }

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-content div > a{
    font-size: 14px;
    padding: 3px 15px;
  }
  .dashboard-content div > h3{
    font-size: 18px;
  }

}


/* small mobile :320px. */
@media (max-width: 767px) {
  .container {width:400px}
  .dashboard-content div > a{
    font-size: 14px;
    padding: 3px 15px;
  }
  .dashboard-content div > h3{
    font-size: 18px;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {width:450px}
  .dashboard-content div > a{
    font-size: 14px;
  }
  div form h4{
    margin-bottom: 20px;
  }

}
@media (max-width: 479px){
  option{
    font-size: 20px;
  }
  .row form > select{
    font-size: 20px;
  }
}
