// $iconnect-blue: #1a70b7;
// $iconnect-green: #7cc243;

// Colors
// $iconnect-blue: #2e9cf4;      // blue
$iconnect-blue: #0275d8;      // blue - for step button
$iconnect-middleblue: #2196f3;
$iconnect-lightblue: #5bc0de;


$iconnect-green: #5cb85c;     // call to action

$iconnect-gray: #616161;      // font color
$iconnect-lightgray: #757575; // border color
$iconnect-red: #f44336;
$iconnect-yellow: #ffeb3b;

